@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunshiney&display=swap");

@font-face {
  font-family: "Eduardian";
  src: url(../fonts/itcedscr.ttf);
}

/* Formatação da página em geral */

* {
  margin: 0;
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
}

p {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  text-align: left;
}

h1 {
  margin-top: 1em;
  font-size: 2.5em;
}

h2 {
  margin-top: 1em;
  font-size: 2em;
}

/* Formatação do BODY e do CONTAINER */

body {
  color: rgba(0, 0, 0, 1);
  width: 85%;
  margin: 0 auto;
  padding: 0;
  background-color: #fffae8;
  font-size: 1em;
}

#container {
  background-color: #feeff7;
}

/* Formatação cabeçalho */

.center {
  width: 100%;
  margin: 0 auto;
}

/* Formatação do Menu */

.menu {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* posiciona um elemento ao lado do outro e formata o botão */

.menu li {
  position: relative;
  float: left;
  margin: 1px 0.33%;
  color: black;
  text-align: center;
  border: 1px solid #c0c0c0;
  width: 16%;
  list-style: none;
  text-transform: uppercase;
  font-size: large;
  font-weight: 500;
}

/* Formata o link da opção */

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 0 0.4em;
  display: block;
  transition: 1s;
  background: #ffeb99;
}

/* Aplica uma nova cor toda vez que o mouse passa sobre os links*/

.menu li a:hover {
  background: #ffebcd;
  color: #daa520;
  text-shadow: 0px 0px 5px #fff;
}

/*  Formata o sub-menu */

.menu li ul {
  position: absolute;
  top: 1.6em;
  display: none;
}

.menu li ul li {
  width: 100%;
}

.menu li:hover ul {
  display: block;
}

/*  Formatação do Artigo */

div#artigo {
  padding: 0 1em;
  clear: both;
}

h2#slogan {
  text-align: center;
  font-family: "Edwardian", "Sunshiney";
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.7);
}

/*  Formatação do rodapé */

footer .rodape {
  background-color: whitesmoke;
  border: 1px solid #606060;
  clear: both;
  width: 90%;
  margin: 1em auto;
  padding: 0.6em;
  position: relative;
  height: 3.7em;
}

footer .rodape p {
  text-align: center;
  font-size: 2em;
  font-family: "Edwardian Script ITC", "Sunshiney";
  color: rgba(0, 0, 0, 0.7);
  float: left;
  width: 70%;
}

#rodape-img {
  float: left;
  width: 10%;
}

#rodape-ul {
  float: left;
  width: 20%;
}

.social li a {
  /*	tamanho	da	imagem	*/
  height: 48px;
  width: 48px;
  /*	image	replacement	*/
  display: block;
  text-indent: -9999px;
}

.social {
  position: absolute;
  top: 0.2em;
  right: 2em;
}

.social li {
  float: left;
  margin-left: 25px;
  list-style: none;
}

.social a[href*="facebook.com"] {
  background-image: url(../imagens/icons8-facebook-96.png);
  background-size: 48px;
}

.social a[href*="instagram.com"] {
  background-image: url(../imagens/icons8-instagram-48.png);
}

/*  Formatação FALE CONOSCO, contato */

.contatos {
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  font-weight: bolder;
}

.contatos li {
  padding: 1%;
  list-style: none;
}

.contatos img {
  margin: 0;
}

.contatos a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/*    Formatação modelos paineis   */

.painel {
  margin: 0.3em;
  padding: 1em;
  width: 48%;
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px #999;
}

.novidades {
  background: linear-gradient(#edcd5e, #f5f49f);
  float: left;
}

.mais-vendidos {
  background: linear-gradient(#f5f49f, #edcd5e);
  float: right;
}

.painel h2 {
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
}

.painel h2:before {
  content: "\2756";
  padding-right: 0.2em;
  opacity: 0.8;
  font-size: 1.5em;
}

.painel li {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0.4em;
}

.painel li:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px #333;
  transition: 0.7s;
  transform: scale(1.2) rotate(-5deg);
}

.painel a {
  color: #333;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.painel img {
  width: 100%;
  height: 100%;
}

div#itens {
  clear: both;
  margin-left: 1em;
}

/* ========== MOBILE FIRST ==========*/

/* SMALL DEVICES - SMARTPHONES (com 360px a 480px)*/

@media screen and (max-width: 480px) and (min-width: 360px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.8em;
  }

  .menu li {
    font-size: 8px;
  }

  h2#slogan {
    font-size: 1em;
  }

  footer .rodape p {
    font-size: 0.8em;
    width: 80%;
    margin-top: 3%;
    clear: right;
  }

  #rodape-ul {
    display: none;
    width: 0%;
  }

  #rodape-img {
    float: left;
    width: 20%;
  }

  .contatos li {
    font-size: 0.8em;
  }

  .painel {
    width: 96%;
  }

  .painel h2 {
    font-size: 1.2rem;
  }

  .painel h2:before {
    display: none;
  }

  .painel li {
    width: 27%;
    margin: 0.4em;
  }

  .painel a {
    font-size: 1em;
  }
}

/* SMALL DEVICES - TABLETS  (com 480px a 768px)*/

@media screen and (max-width: 768px) and (min-width: 481px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .menu li {
    font-size: 10px;
  }

  h2#slogan {
    font-size: 1.5em;
  }

  footer .rodape p {
    font-size: 1em;
    width: 80%;
    margin-top: 2%;
  }

  #rodape-ul {
    display: none;
    width: 0%;
  }

  .contatos li {
    font-size: 0.8em;
  }

  .painel {
    width: 96%;
  }

  .painel h2 {
    font-size: 1.8rem;
  }

  .painel h2:before {
    display: none;
  }

  .painel li {
    width: 28%;
    margin: 0.4em;
  }

  .painel a {
    font-size: 1em;
  }
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS (com 768px a 960px)*/

@media screen and (max-width: 960px) and (min-width: 769px) {
  footer .rodape p {
    font-size: 1.5em;
  }

  h2#slogan {
    font-size: 2em;
  }

  .painel h2 {
    font-size: 2rem;
  }

  .painel h2:before {
    content: "\2756";
    padding-right: 0.2em;
    opacity: 0.8;
    font-size: 1.8em;
  }

  .painel li {
    width: 28%;
    margin: 0.2em;
  }

  .painel a {
    font-size: 1em;
  }
}

/* LARGE DEVICES - WIDE SCREENS  (desktops com 960px a 1280px)*/

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .painel li {
    width: 28%;
    margin: 0.3em;
  }

  .painel a {
    font-size: 1em;
  }
}

/* Dispositivos extra large (desktops grandes com 1280px ou mais) */

@media screen and (max-width: 1440px) and (min-width: 1281px) {}